/.ClipMover.java._trace
/.CroppingApp.java._trace
/.CroppingPanel.java._trace
/.Tools.java._trace
/.ClipMover.xtendbin
/.CroppingApp.xtendbin
/.CroppingPanel.xtendbin
/.Tools.xtendbin
/ClipMover.java
/CroppingApp.java
/CroppingPanel.java
/Tools.java
